.app-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 12px;
}

@media (min-width : 640px){
    .app-container{
        max-width: 800px;
        padding: 0 16px;
    }
}

@media (min-width : 768px){
    .app-container{
        max-width: 918px;
        padding: 0 20px
    }
}

@media (min-width : 1024px){
    .app-container{
        max-width: 1175px;
        padding: 0 24px;
    }
}

@media (min-width : 1280px){
    .app-container{
        max-width: 1470px;
    }
}


